* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    display: grid;* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, 200px);
    padding: 10px;
    border: 1px solid black;
    color: white;
    text-align: center;
    gap: 10px;
}

.box {
    padding: 10px;
}

.box1 {
    background-color: red;
}

.box2 {
    background-color: green;
}

.box3 {
    background-color: blue;
}

.box4 {
    background-color: orange;
}

@media screen and (max-width : 768px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width : 425px) {
    .container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 200px);
        border: none;
        padding: 0;
    }
}
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, 200px);
    padding: 10px;
    border: 1px solid black;
    color: white;
    text-align: center;
    gap: 10px;
}

.box {
    padding: 10px;
}

.box1 {
    background-color: red;
}

.box2 {
    background-color: green;
}

.box3 {
    background-color: blue;
}

.box4 {
    background-color: orange;
}

@media screen and (max-width : 768px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width : 425px) {
    .container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 200px);
        border: none;
        padding: 0;
    }
}