*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    padding: 10px;
    flex-wrap: wrap;
}

.image{
    width: 33%;
}

img{
    width: 100%;
    height: auto;
}

@media screen and (max-width:800px) {

    .image{
        width: 48%;
    }
}

@media screen and (max-width:500px) {

    .image{
        width: 100%;
    }
}